<div class="jumbotron jumbotrom-dark">
  <div class="container">
    <h1>Hello, world!</h1>
    <h3>We
      <3 hackers news!</h3>
  </div>
</div>
<div class="jumbotron jumbotrom-light">
  <div class="container">
    <div class="list-group">
      <a *ngFor="let hit of dataHits" (click)="openUrl(hit.story_url ? hit.story_url : hit.url)" class="list-group-item">
            {{hit.story_title ? hit.story_title: hit.title}}
          <span class="author"> - {{hit.author}}</span>
          <span (click)="deleteHit(hit.objectID)" class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
        </a>
    </div>
  </div>
</div>